<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Details</title>
</head>
<body>
    <main>
        <div>
            <h1>{{list_tasks.name}}</h1>
            <p><a href="{% url 'todo_list_update' list_tasks.id   %}">Edit</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                    {%for task in list_tasks.items.all %}
                    <tr>
                        <td>{{task.task}}</td>
                        <td>{{task.due_date}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
