<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url "todo_list_create" %}">Create a new list</a>
            </p>
            <p>
                <a href="{% url "tudo_list_delete" list_tasks.id%}">Delete</a>
            </p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                {%for list_object in list_objects%}
                <tr>
                    <td>
                        <a href= "{% url 'todo_list_detail' list_object.id %}"> {{ list_object.name }} </a>
                    </td>
                    <td>{{ list_object.items.all|length }}</td>
                </tr>
                {%endfor%}

            </table>
        </div>
    </main>
</body>
</html>
